* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply w-screen h-screen bg-gray-100;
}

.drag {
  -webkit-app-region: drag;
}

input,
button,
textarea,
.nodrag {
  -webkit-app-region: no-drag;
}
